:root{
    --color_lite__grey:#CED8E1;
    --color_dark__blue:#102B3E;
    --color_lite__green: #93B8CA ;
}

html{
    background: indianred;
}

.style{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.Wrap{
    max-width:1400px ;
    background-color:var(--color_lite__grey) ;
    padding: 10px 40px;
    margin: 0 auto;
}
.container{
    border: 5px solid var(--color_lite__green);
    border-radius: 50px;
    height: 350px;
}
.up_text{
    height: 75px;
}
.content{
    display: flex;
    justify-content: space-evenly;
column-gap: 10px;
    padding: 20px;
}
.wrap_box{
    flex-grow: 1;

}
.box-1{
    height: 150px;
    border-radius: 20px;
    background-color: var(--color_dark__blue);
}
.text_under_box{
    height: 50px;
    margin-top: 20px;
}